<section id="content" class="content content-lg">
	<%= render 'layouts/main_header', flash: flash %>

	<div class="content-splitter">
		<section id="content-main" class="content-main">
			<div class="content-app">
				<div class="app-header">
					<h3 class="app-title">Adding Credit Cards</h3>
				</div>
				<%= render 'layouts/notice', flash: flash %> 

				<div class="app-body">
					<div class="center-block center-box">
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<%= form_tag(credit_cards_path, method: :post, class: 'form-horizontal') do %>
										<% @credit_cards.each_with_index do |card, index|%>
											<%= hidden_field_tag "credit_cards[]['brand']", card[:brand] %>
											<%= hidden_field_tag "credit_cards[]['country_code']", card[:country_code] %>
											<%= hidden_field_tag "credit_cards[]['country_name']", card[:country_name] %>
											<%= hidden_field_tag "credit_cards[]['bank']", card[:bank] %>
											<%= hidden_field_tag "credit_cards[]['card_type']", card[:card_type] %>

											<%= field_set_tag "Card Details ##{index+1}" do %>
												<div class="form-group">
													<label class="col-sm-2 control-label">BIN/IIN number</label>
													<div class="col-sm-10">
														<%= text_field_tag "credit_cards[]['bin']", card[:bin], placeholder: 'Enter BIN/IIN number', class: 'form-control', disabled: true %>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label">Card number</label>
													<div class="col-sm-10">
														<%= text_field_tag "credit_cards[]['card_number']", nil, placeholder: 'Enter card number', class: 'form-control' %>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label">Card holder</label>
													<div class="col-sm-10">
														<%= text_field_tag  "credit_cards[]['card_holder']", nil, placeholder: 'Card holder', class: 'form-control' %>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label">CVV</label>
													<div class="col-sm-10">
														<%= text_field_tag  "credit_cards[]['cvv']", nil, placeholder: 'cvv', class: 'form-control' %>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label">Expiry</label>
													<div class="col-sm-10">
														<%= select_date(date = Date.current,{prefix:  "credit_cards[]['expiry']", discard_day: true, order: [:month, :year]}, {id: 'date_month'}) %>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label">Price (<%= fa_icon 'bitcoin' %>)</label>
													<div class="col-sm-10">
														<%= text_field_tag  "credit_cards[]['price']", nil, placeholder: '0.00', class: 'form-control' %>
													</div>
												</div>
											<% end -%>

											<hr />
										<% end %>
										<%= button_tag "Submit", class: 'btn btn-success', data: { disable_with: "Please wait..." } %>
										<%= link_to 'Cancel', sell_items_path, class: 'btn btn-default' %>
									<% end -%>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>