<section id="content" class="content content-lg">
	<%= render 'layouts/main_header', flash: flash %>

	<div class="content-splitter">
		<section id="content-main" class="content-main">
			<div class="content-app">
				<div class="app-header">
					<h3 class="app-title">Orders</h3>
				</div>
				<%= render 'layouts/notice', flash: flash %>

				<div class="app-body">
					<div class="center-block center-box">
						<div class="row">
							<div class="col-md-12" style="margin-bottom: 5px;">
								<div class="pull-left">
									<form class="form-inline">
										<div class="form-group">
											<label class="sr-only">Search</label>
											<input type="text" class="form-control" id="inputPassword2" placeholder="Search orders" style="width: 300px !important;">
										</div>
										<button type="submit" class="btn btn-default"><%= fa_icon 'search' %></button>
									</form>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h2>My Orders <br />
											<small>
												Recent orders
											</small>
										</h2>
									</div>

									<div class="table-responsive">
										<table id="data-table-selection" class="table table-striped">
											<thead>
												<tr>
													<th data-column-id="id" data-type="numeric" data-identifier="true">
														<%= check_box_tag 'accept' %>
													</th>
													<th data-column-id="type">TOTAL <%= fa_icon 'bitcoin' %></th>
													<th data-column-id="bin" data-order="desc">ITEMS</th>
													<th data-column-id="bin" data-order="desc">STATUS</th>
													<th data-column-id="bin" data-order="desc">DATE</th>
													<th>VIEW</th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												<%- @orders.each do |order| %>
													<tr>
														<td><%= check_box_tag 'accept' %></td>
														<td><%= order.order_total %></td>
														<td><%= order.order_items.count %></td>
														<td><%= order.aasm_state %></td>
														<td><%= order.created_at.strftime("%a, %d %b %Y") %></td>
														<td><%= link_to fa_icon('eye'), order_order_items_path(order), class: 'btn btn-sm btn-default' %></td>
														<td><%= link_to 'check', '#', class: 'btn btn-sm btn-warning' %></td>
													</tr>
												<% end -%>
											</tbody>
										</table>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
