<section id="content" class="content content-lg">
	<%= render 'layouts/main_header' %>

	<div class="content-splitter">
		<section id="content-main" class="content-main">
			<div class="content-app">
				<%= render 'layouts/secondary_header', flash: flash %>

				<div class="app-body">
					<div class="center-block center-box">
						<div class="row">
							<div class="col-md-12">
								<div class="box">
										<div class="pull-right">
											<%= link_to "#{fa_icon 'paper-plane'} request coins".html_safe, '#', class: 'btn btn-info btn-sm', data: { toggle: 'modal', target: '#myModal'} %>
										</div>
                                    <h4>Account details</h4>
                                    <hr />
																		<div class="row">
																			<div class="col-md-4 deposits"><b>Label</b></div>
																			<div class="col-md-8 deposits"><%= @btc_account.label %></div>
																		</div>
                                    <div class="row">
																			<div class="col-md-4 deposits"><b>Address</b></div>
																			<div class="col-md-8 deposits">
																					<div style="background-color: #ddd; border-radius: 5px; padding: 3px;" >
																							<%= @btc_account.address %>
																					</div>
																					<i style="color: #3498db"><%= fa_icon 'info-circle' %> deposit coins to the above address</i>
																			</div>
																		</div>
																		<div class="row">
                                        <div class="col-md-4 deposits"><b>Available balance</b></div>
                                        <div class="col-md-8 deposits"><%= fa_icon 'bitcoin' %>&nbsp;<%= @btc_account.btc_account_balance.available_balance %></div>
                                    </div>
																		
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        <section>
    </div>
</div>
