<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @deposit.address %>
</p>

<p>
  <strong>Available balance:</strong>
  <%= @deposit.available_balance %>
</p>

<p>
  <strong>Pending received:</strong>
  <%= @deposit.pending_received %>
</p>

<p>
  <strong>User:</strong>
  <%= @deposit.user %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
