<%= form_for(@item, html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= form_error_messages(@item) %>

  <%= f.fields_for :itemable do |builder| %>
		<div class="form-group">
      <%= builder.label :card_holder, class: 'col-sm-2' %>
      <div class="col-sm-8">
          <%= builder.text_field :card_holder, autofocus: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= builder.label :card_number, 'Card details',class: 'col-sm-2' %>
      <div class="col-sm-4">
          <%= builder.text_field :card_number, autofocus: true, class: 'form-control' %>
      </div>
      <div class="col-sm-2">
          <%= builder.text_field :cvv, autofocus: true, class: 'form-control' %>
      </div>
      <div class="col-sm-2">
          <%= builder.text_field :expiry, autofocus: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= builder.label :card_info, class: 'col-sm-2' %>
      <div class="col-sm-8">
          <%= builder.text_area :card_info, autofocus: true, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :price, class: 'col-sm-2' %>
    <div class="col-sm-8">
        <%= f.text_field :price, autofocus: true, class: 'form-control' %>
    </div>
  </div>



  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Update", class: 'btn btn-info' %>
          <%= link_to "Cancel", sell_items_url, class: "btn btn-default"%>
      </div>
  </div>
<% end %>
