<section id="content" class="content content-lg">
	<%= render 'layouts/main_header', flash: flash %>

	<div class="content-splitter">
		<section id="content-main" class="content-main">
			<div class="content-app">
				<%= render 'layouts/secondary_header', flash: flash %> 
				<div class="app-body">
					 <!-- app content here -->
					 <div class="center-block center-box">
					 	<div class="row">
					 		<div class="col-md-12" style="margin-bottom: 12px;">
					 			<div class="pull-right">
					 				<%= link_to "#{fa_icon 'plus'} Add CC".html_safe,  '#', class: "btn btn-success", data: { toggle: 'modal', target: '#binModal'} %>
					 			</div>
					 			<div class="pull-left">
					 				<form class="form-inline">
					 					<div class="form-group">
					 						<label class="sr-only">Search</label>
					 						<input type="text" class="form-control" id="inputPassword2" placeholder="Password" style="width: 300px !important;">
					 					</div>
					 					<button type="submit" class="btn btn-default"><%= fa_icon 'search' %></button>
					 				</form>
					 			</div>
					 		</div>

					 		<% if @items.blank? %>
						 		<div class="col-md-12">
							 		<div class="panel panel-default magic-element isotope-item">
							 			<a href="#" class="panel-body-heading bg-asbestos full-line">
							 				<div class="pb-object pb-object-circle">
							 					<i class="pbo-icon icon ion-ios7-help-outline text-inverse"></i>
							 				</div>
							 				<h3 class="pb-title text-inverse">
							 					No Items
							 					<small class="text-inverse">You currently have no items to sell. Please add some</small>
							 				</h3>
							 				<span class="pb-watermark">
							 					<i class="icon ion-ios7-information"></i>
							 				</span>
							 			</a>	
							 		</div>	
						 		</div>
					 		<% else %>
						 		<div class="col-md-12">
						 			<div class="card">
	                        			<div class="card-header">
	                        				<div class="pull-right">
	                        					<%= link_to "#{fa_icon 'edit'} Edit".html_safe,  '#', class: "btn btn-primary btn-sm" %>
	                        					<%= link_to "#{fa_icon 'trash'}".html_safe,  '#', class: "btn btn-danger btn-sm" %>
	                        				</div>
	                            			<h2>My Items <br />
	                            				<small>
	                            					Ensure that the data attribute [data-identifier="true"] is set on one column header.
	                            				</small>
	                            			</h2>
	                        			</div>
	                        
	                        			<div class="table-responsive">
	                            			<table id="data-table-selection" class="table table-striped">
	                                			<thead>
	                                    			<tr>
	                                        			<th data-column-id="id" data-type="numeric" data-identifier="true">
	                                        				<%= check_box_tag 'accept' %>
	                                        			</th>
	                                        			<th data-column-id="type">ITEM</th>
	                                        			<th data-column-id="bin" data-order="desc">TYPE</th>
	                                        			<th data-column-id="bin" data-order="desc">COUNTRY</th>
	                                        			<th data-column-id="bin" data-order="desc">DATE ADDED</th>
	                                        			<th data-column-id="bin" data-order="desc">PRICE(<%= fa_icon 'bitcoin' %>)</th>
	                                        			<th colspan="3"></th>
	                                    			</tr>
	                                			</thead>

	                                			<tbody>
	                                				<%- @items.each do |item| %>
				                                    <tr>
				                                        <td><%= check_box_tag 'accept' %></td>
				                                        <td>
				                                        	<%= "#{item.itemable.card_number}|#{item.itemable.expiry.strftime("%m%Y")}|#{item.itemable.cvv}" %>
				                                        </td>
				                                        <td><%= item.itemable.card_type %></td>
				                                        <td><%= flag_list 16 do flags "#{item.itemable.country_code}".parameterize.underscore.to_sym end %></td>
				                                        <td><%= item.itemable.created_at.strftime("%a, %d %b %Y") %></td>
				                                        <td><%= item.price %></td>
				                                        <td>
				                                        	<%= link_to "#{fa_icon 'eye'}".html_safe,  item, class: "btn btn-default btn-sm" %>
				                                        	<%= link_to "#{fa_icon 'edit'}".html_safe, edit_item_path(item), class: "btn btn-primary btn-sm" %>
				                                        	<%= link_to "#{fa_icon 'trash'}".html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" %>
				                                        </td>
				                                    </tr>
				                             		<%end -%>
				                                </tbody>
	                            			</table>
	                        			</div>
	                    			</div>
						 		</div>
					 		<% end %>
					 	</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="binModal" tabindex="-1" role="dialog" aria-labelledby="binModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<%= form_tag(process_bin_path, method: :post, class: "form-horizontal",  id: "binForm") do %>
			<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">BIN/IIN:</label>
						<div class="col-sm-8">
							<input type='text', name="bin[]", placeholder="first 6 digits of your card number e.g 431940", class="form-control">
						</div>
					</div>

					<%= link_to_add_field "#{fa_icon 'plus-circle'} Add field".html_safe %>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button data-disable-with="Processing..." name="button" type="submit" class="btn btn-primary">Process</button>
			</div>
			<% end %>
		</div>
	</div>
</div>