<section id="content" class="content content-lg">
	<%= render 'layouts/main_header', flash: flash %>

	<div class="content-splitter">
		<section id="content-main" class="content-main">
			<div class="content-app">
				<%= render 'layouts/secondary_header', flash: flash %>
				<div class="app-body">
					 <!-- app content here -->
					 <div class="center-block center-box">
					 	<div class="row">
							<%- unless current_user.can_sell %>
								<div class="col-md-12" style="margin-bottom: 12px;">
									<%= link_to 'become a seller', become_seller_path, method: :post, class: 'btn btn-success'%>
								</div>
							<% else %>
						 		<div class="col-md-12" style="margin-bottom: 12px;">
						 			<div class="pull-right">
						 				<%= link_to "#{fa_icon 'plus'} Add CC".html_safe,  '#', class: "btn btn-success", data: { toggle: 'modal', target: '#binModal'} %>
						 			</div>
						 			<div class="pull-left">
						 				<form class="form-inline">
						 					<div class="form-group">
						 						<label class="sr-only">Search</label>
						 						<input type="text" class="form-control" id="inputPassword2" placeholder="Password" style="width: 300px !important;">
						 					</div>
						 					<button type="submit" class="btn btn-default"><%= fa_icon 'search' %></button>
						 				</form>
						 			</div>
						 		</div>

						 		<%= render 'items/for_sale', collection: @items %>
							<% end %>
					 	</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<%= render 'items/add_card_modal' %>
