<section id="content" class="content content-lg">
	<%= render 'layouts/main_header', flash: flash %>

	<div class="content-splitter">
		<section id="content-main" class="content-main">
			<div class="content-app">
				<div class="app-header">
					<h3 class="app-title">Orders</h3>
				</div>
				<%= render 'layouts/notice', flash: flash %>

				<div class="app-body">
					<div class="center-block center-box">
						<div class="row">
							<div class="col-md-12" style="margin-bottom: 5px;">
                                <div class="pull-right">
                                    <%= link_to "#{fa_icon 'chevron-left'}&nbsp;Back".html_safe, orders_path, class: 'btn btn-default' %>
                                </div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h2>Order items <br />
										</h2>
									</div>

									<div class="table-responsive">
										<table id="data-table-selection" class="table table-striped">
											<thead>
												<tr>
													<th data-column-id="id" data-type="numeric" data-identifier="true">
														<%= check_box_tag 'accept' %>
													</th>
													<th data-column-id="type">ITEM</th>
													<th data-column-id="bin" data-order="desc">CARD TYPE</th>
													<th data-column-id="bin" data-order="desc">COUNTRY</th>
													<th data-column-id="bin" data-order="desc">PRICE <%= fa_icon 'bitcoin' %></th>
												</tr>
											</thead>

											<tbody>
												<%- @order_items.each do |order_item| %>
                                                    <tr>
                                                        <td><%= check_box_tag 'accept' %></td>
                                                        <td><%= "#{order_item.item.itemable.card_number}|#{order_item.item.itemable.expiry}|#{order_item.item.itemable.cvv}" %></td>
                                                        <td><%= order_item.item.itemable.card_type %></td>
				                                        <td><%= flag_list 16 do flags "#{order_item.item.itemable.country_code}".parameterize.underscore.to_sym end %></td>
				                                        <td><%= order_item.item.price %></td>
                                                    </tr>

												<% end -%>
											</tbody>
										</table>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
