<div class="app-header">
	<div class="container" style="margin-top: -6px">
		<ul class="nav nav-pills nav-justified center-block center-box">
			<li class="active">
				<%= link_to "NEWS", '#' %>
			</li>

			<li>
				<%= link_to "BUY", '#' %>
			</li>

			<li>
				<%= link_to "SELL", '#' %>
			</li>

			<li>
				<%= link_to "CHECK", '#' %>
			</li>
		</ul>
	</div>
</div>
<%= render 'layouts/notice', flash: flash %> 